/* ---- head.js ---- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  background: #fff;
  height: 80px;
}

.header-logo {
    background-size: 180px;
    margin-left: 32px;
    background: url(images/product-logo.png) no-repeat 20px center;
    flex-grow: 2;
}


.clickme-pink {
    opacity: 1;
    background: linear-gradient(100.59deg, #FF77A8 0%, #D468A7 103.13%);
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-decoration: none;
    cursor: pointer;
    line-height: 1; 
}

.click-login {
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 10px;
    width: 80px;
    text-decoration: none;
    cursor: pointer;
    padding: 0; 
}

.login-logo {
    display: block;
    margin: 0 auto;
    width: 16px;
    padding-bottom: 2px;
}

/* ------------------------- */

/* ---- firstsection.js ---- */

.topsection {
    background-image: url("./images/flooring.png");
    background-size: cover;
}

.topcopy-font {
    text-align: center;
    color: #000000;
}

.topcopy-em1 {
    font-size: 40px;
}

.topcopy-em2 {
    font-size: 30px;
}

.topcopy-img {
    text-align: center;
}

.topcopy-img1 {
    margin-top: 30px;
    widows: 400px;
    height: 400px;
}

.topcopy-bottun {
    margin-top: 30px;
    text-align: center;
}

.topcopy-scroll {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

/* ------------------------- */

/* ---- secondsection.js ---- */

.seccopy-font1 {
    text-align: center;
    color: #000000;
    margin-top: 100px;
}

.seccopy-em1 {   
    font-size: 40px;
}

.seccopy-font2 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-top: 30px;
}

.member-introduction {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.teacher-item {
    display: flex;
}

.teacher-item img {
    width: 200px;
}

.teacher-section-info {
    font-weight: bold;
}

.teacher-name-en {
    font-weight: bold;
    color: #67D2E7;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
}

.teacher-name-ja {
    font-weight: bold;
    color: #67D2E7;
    font-size: 14px;
    margin: 0 0 0 0;
}

.teacher-section-text-list {
    list-style-type: none;
    padding: 0 0 0 0;    
}

.teacher-section-text::before {
    content: "・";
}

.sample_button {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
/* ------------------------- */

/* ---- thirdsection.js ---- */
.thirdconatainer {
    background-color: #3B424B
}

.thirdconatainer-inner {
    width: 96%;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0 20px;
}

.thirdcopy-font1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.thirdcopy-em1 {
    font-size: 40px;
}

.program-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 60px auto 40px;
}

.program-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 24%;
    height: 108px;
    margin-bottom: 12px;
}

.program-list-item-image {  
    position: absolute;
}

.program-list-item-name {
    position: relative;
}

.thirdcopy-video iframe{
    width: 100%;
}

.thirdcopy-font2 {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.thirdcopy-em2 {
    font-size: 30px;
}

.sample_button２ {
    margin-bottom: 40px;
    text-align: center;
}
/* ------------------------- */

/* ---- footer.js ---- */
footer {
    text-align: center;
    background: #fff;
    padding: 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-inner {
    max-width: 1280px;
    margin: 0 auto;
}

.footer-logo {
    width: 120px;
    margin-bottom: 0;   
}

.footer-link {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: bold;
}

.footer-link a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

.footer-link li {
    margin-right: 16px;
    margin-bottom: 0px;
}

.footer-copyright {
    margin: 0;
    font-size: 10px;
    color: #000000;
}
/* ------------------- */